<launch>
  <master auto="start"/>

  <!-- Run the map server -->
  <!--node name="map_server" pkg="map_server" type="map_server" args="~/map.yaml"/-->



  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="controller_frequency" value="5.0" />
    <rosparam file="$(find donkey_rover_2dnav)/slam/costmap_common_params_slam.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find donkey_rover_2dnav)/slam/costmap_common_params_slam.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find donkey_rover_2dnav)/slam/local_costmap_params_slam.yaml" command="load" />
    <rosparam file="$(find donkey_rover_2dnav)/slam/global_costmap_params_slam.yaml" command="load" />
    <rosparam file="$(find donkey_rover_2dnav)/slam/base_local_planner_params_slam.yaml" command="load" />
  </node>
</launch> 
